@using SocialNetwork.Core.Application.ViewModels.User
@model UserViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
}

<h2>Profile</h2>

<div>
    <h4>This is your data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
                    @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>
        <dd>
                    <img src="@Model.ProfilePicture" alt="Profile picture" />
        </dd>

    </dl>
    <div>
        <a asp-controller="User" asp-action="Edit">Edit</a> |
        <a asp-controller="User" asp-action="Desactivate">Desactivate my account</a>
    </div>


</div>