@using Microsoft.AspNetCore.Http
@using SocialNetwork.Core.Application.DTOs.Account
@using SocialNetwork.Core.Application.Helpers;
@using SocialNetwork.Core.Application.ViewModels.User
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SocialNetwork</title>
    <link rel="stylesheet" href="~/css/styleLayout2.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp&amp;display=swap" rel="stylesheet">
</head>
<style>
    * {
        margin: 0;
        box-sizing: border-box;
    }

    .header__left img {
        height: 40px;
    }

    .user__avatar {
        border-radius: 50%;
        width: 45px;
    }

    a.no-decoration {
        text-decoration: none;
        color: inherit;
    }

    .header {
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        position: sticky;
        background-color: white;
        z-index: 100;
        top: 0;
        box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
    }

    .header__left {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .header__input {
        display: flex;
        align-items: center;
        background-color: #eff2f5;
        padding: 10px;
        margin-left: 10px;
        border-radius: 999px;
    }

        .header__input input {
            border: none;
            background-color: transparent;
            outline-width: 0;
        }

    .header__middle {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    .header__option .material-icons {
        font-size: xx-large;
        color: gray;
    }

    .header__option:hover .material-icons {
        color: #2e81f4;
    }

    .header__option {
        display: flex;
        align-items: center;
        padding: 0 30px;
        cursor: pointer;
    }

        .header__option.active .material-icons {
            color: #2e81f4;
        }

        .header__option.active {
            border-bottom: 4px solid #2e81f4;
        }

        .header__option:hover {
            background-color: #eff2f5;
            border-radius: 10px;
            align-items: center;
            padding: 0 30px;
            border-bottom: none;
        }

    .header__info {
        display: flex;
        align-items: center;
    }

        .header__info h4 {
            margin-left: 10px;
        }

    .header__right {
        display: flex;
        align-items: center;
    }

        .header__right .material-icons {
            color: gray;
            margin: 0 10px;
        }

            .header__right .material-icons:hover {
                cursor: pointer;
            }

    @@media (min-width: 320px) {
        .storyReel {
            width: 100%;
            overflow-x: scroll;
        }
    }

    @@media (min-width: 769px) and (max-width: 1440px) {
        /* CSS To Target 767 px width of screen */

        .feed {
            width: 50%;
            padding: 10px 50px;
        }
    }
</style>

<body>
    <header>
        <nav>
            <!-- header starts -->
            <div class="header">
                <div class="header__left">

                    @if (User != null)
                    {
                        <a asp-controller="@(User!= null ? "Home" : "User")" asp-action="Index" class="no-decoration">
                            <img src="~/Images/logo2.png" alt="Birdtter" />
                        </a>
                    }
                    else
                    {
                        <img src="~/Images/logo2.png" style="margin-right:5px;" alt="Birdtter" />
                        <h3>Birdtter</h3>
                    }
                </div>
                @if (User != null)
                {
                    <div class="header__middle" style="margin-left:290px;">
                        <a asp-controller="Home" asp-action="Index" title="Home" class="header__option active no-decoration">
                            <div class="header__option" id="homeOption">

                                <span class="material-icons"> home </span>

                            </div>
                        </a>
                        <a asp-controller="Friendship" asp-action="Index" title="Friends" class="header__option active no-decoration">
                            <div class="header__option" id="friendsOption">

                                <span class="material-icons"> supervised_user_circle </span>

                            </div>
                        </a>
                    </div>
                    <a asp-controller="UserIdentity" asp-action="Logout" title="Logout" class="no-decoration mt-2 me-3">
                        <div class="header__right">
                            <span class="material-icons fs-1"> logout </span>
                        </div>
                    </a>
                    <a asp-controller="UserIdentity" asp-action="MyProfile" title="My Profile" class="no-decoration">
                        <div class="header__right">
                            <div class="header__info">
                                <img class="user__avatar"
                                     src="@User.ProfilePicture"
                                     alt="" />
                                <h4 style="margin-top:8px;">@User.Name @User.LastName</h4>
                            </div>
                        </div>
                    </a>
                }

            </div>
            <!-- header ends -->
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        // Obtén los elementos del navbar
        var headerOptionElements = document.querySelectorAll('.header__option');

        // Agrega un event listener a cada elemento
        headerOptionElements.forEach(function (headerOptionElement) {
            headerOptionElement.addEventListener('click', function () {
                // Elimina la clase 'active' de todos los elementos
                headerOptionElements.forEach(function (el) {
                    el.classList.remove('active');
                });

                // Agrega la clase 'active' al elemento clickeado
                this.classList.add('active');
            });
        });
    </script>

</body>
</html>

