@using SocialNetwork.Core.Application.ViewModels.Comment
@using SocialNetwork.Core.Application.ViewModels.NewFolder
@using SocialNetwork.Core.Application.ViewModels.Post
@using SocialNetwork.Core.Application.ViewModels.ReplyComment
@using SocialNetwork.Infrastructure.Identity.Entities
@using Microsoft.AspNetCore.Http
@using SocialNetwork.Core.Application.DTOs.Account
@using SocialNetwork.Core.Application.Helpers;
@model SavePostViewModel
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var posts = ViewBag.Posts as List<PostViewModel>;
    ViewData["Title"] = "Inicio";
}

<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp&amp;display=swap" rel="stylesheet">

<style>
    * {
        margin: 0;
        box-sizing: border-box;
    }

    textarea {
        overflow-y: scroll;
        resize: none;
    }

    .header__left img {
        height: 40px;
    }

    .user__avatar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    .create-post-text {
        background-color: #eeeeee;
        cursor: pointer;
    }

        .create-post-text:hover {
            background-color: #e6e6e6;
        }

    .header {
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        position: sticky;
        background-color: white;
        z-index: 100;
        top: 0;
        box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
    }

    .header__left {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .header__input {
        display: flex;
        align-items: center;
        background-color: #eff2f5;
        padding: 10px;
        margin-left: 10px;
        border-radius: 999px;
    }

        .header__input input {
            border: none;
            background-color: transparent;
            outline-width: 0;
        }

    .header__middle {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    .header__option .material-icons {
        font-size: xx-large;
        color: gray;
    }

    .header__option:hover .material-icons {
        color: #2e81f4;
    }

    .header__option {
        display: flex;
        align-items: center;
        padding: 0 30px;
        cursor: pointer;
    }

        .header__option.active .material-icons {
            color: #2e81f4;
        }

        .header__option.active {
            border-bottom: 4px solid #2e81f4;
        }

        .header__option:hover {
            background-color: #eff2f5;
            border-radius: 10px;
            align-items: center;
            padding: 0 30px;
            border-bottom: none;
        }

    .header__info {
        display: flex;
        align-items: center;
    }

        .header__info h4 {
            margin-left: 10px;
        }

    .header__right {
        display: flex;
        align-items: center;
    }

        .header__right .material-icons {
            color: gray;
            margin: 0 10px;
        }

            .header__right .material-icons:hover {
                cursor: pointer;
            }

    /* sidebar  */

    .sidebarRow {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

        .sidebarRow:hover {
            background-color: lightgray;
            border-radius: 10px;
        }

        .sidebarRow h4 {
            margin-left: 20px;
            font-weight: 600;
        }

        .sidebarRow .material-icons {
            font-size: xx-large;
            color: #2e81f4;
        }

    /* story */
    .story {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        width: 120px;
        height: 200px;
        box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
        border-radius: 10px;
        margin-right: 10px;
        transition: transform 100ms ease-in;
        cursor: pointer;
    }

        .story:hover {
            transform: scale(1.07);
        }

    .story__avatar {
        margin: 10px;
        color: blue;
    }

    .story h4 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: white;
    }

    .storyReel {
        padding: 10px 0;
        display: flex;
    }

    .main__body {
        display: flex;
    }

    body {
        background-color: #f1f2f5;
    }

    .feed {
        flex: 1;
        padding: 30px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sidebar {
        padding: 25px 10px;
        flex: 0.33;
    }

    /* message sender */

    .messageSender {
        display: flex;
        margin-top: 5px;
        flex-direction: column;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
        width: 100%;
    }

    .postCard {
        border-radius: 15px;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
        box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    }

    .messageSender__top {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eff2f5;
        padding: 15px;
    }

        .messageSender__top form {
            flex: 1;
            display: flex;
        }

            .messageSender__top form input {
                flex: 1;
                outline-width: 0;
                border: none;
                padding: 15px 20px;
                margin: 0 10px;
                border-radius: 999px;
                background-color: #eff2f5;
            }

    .messageSender__bottom {
        display: flex;
        justify-content: space-evenly;
    }

    .messageSender__option {
        padding: 8px;
        display: flex;
        align-items: center;
        color: gray;
        margin: 5px;
    }

        .messageSender__option h3 {
            font-size: medium;
            margin-left: 10px;
        }

        .messageSender__option:hover {
            cursor: pointer;
            background-color: #eff2f5;
            border-radius: 20px;
        }

    /* post */

    .post {
        width: 100%;
        margin-top: 15px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    }

    .post__image img {
        width: 100%;
    }

    .post__top {
        display: flex;
        position: relative;
        align-items: center;
        padding: 15px;
    }

    .post__avatar {
        margin-right: 10px;
    }

    .post__topInfo h3 {
        font-size: medium;
    }

    .post__topInfo p {
        font-size: small;
        color: gray;
    }

    .post__bottom {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 15px 25px;
    }

    .post__options {
        padding-top: 10px;
        border-top: 1px solid lightgray;
        display: flex;
        justify-content: space-evenly;
        font-size: medium;
        color: gray;
        cursor: pointer;
        padding: 15px;
    }

    .post__option {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        flex: 1;
    }

        .post__option p {
            margin-left: 10px;
        }

        .post__option:hover {
            background-color: #eff2f5;
            border-radius: 10px;
        }

    @@media (max-width: 768px) {
        .sidebar {
            display: none;
        }

        .header__input input {
            display: none;
        }

        .header__middle {
            display: none;
        }

        .header__info {
            display: none;
        }

        .widgets {
            display: none;
        }

        .feed {
            margin-top: 20px;
            width: 100%;
            padding: 0;
        }

        .story h4 {
            font-size: 10px;
        }

        .story img {
            width: 40px;
        }
    }

    @@media (min-width: 320px) {
        .storyReel {
            width: 100%;
            overflow-x: scroll;
        }
    }

    @@media (min-width: 769px) and (max-width: 1440px) {
        /* CSS To Target 767 px width of screen */

        .feed {
            width: 50%;
            padding: 10px 50px;
        }
    }
</style>

<div>
    <!-- main body -->
    <div class="main__body">
        <!-- feed -->
        <div class="feed">
            <!-- message sender -->
            <div class="messageSender">
                <div class="text-danger text-center" id="validationSummary">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
                <div class="messageSender__top">
                    <a asp-controller="UserIdentity" asp-action="MyProfile" title="My Profile" class="no-decoration">
                        <img class="user__avatar" src="@User.ProfilePicture" alt="My Profile" />
                    </a>
                    <div class="px-3 w-100" data-toggle="modal" data-target="#postModal" style="margin-left:3px;">
                        <p class="form-control rounded m-0 create-post-text">What's your next activity?</p>
                        <small class="text-info" style="font-weight:500">e.g. Someone interested in hiking this weekend?</small>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="postModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="postModalLabel">New Post</h5>
                            <button type="button" class="btn btn-close close" style=" width: 20px; height: 20px;" data-dismiss="modal" aria-label="Close">
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="postForm" method="post" asp-controller="Post" asp-action="AddPost" enctype="multipart/form-data">
                                <div class="d-flex flex-start w-100">
                                    <img class="rounded-circle shadow-1-strong me-3" src="@User.ProfilePicture" alt="avatar" width="45" height="40" />
                                    <div class="form-outline w-100 mb-3">
                                        <textarea asp-for="Content" placeholder="Hey, @User.Name! What's on your mind?" class="form-control" id="textAreaExample" rows="4"
                                                  style="background: #fff;"></textarea>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="MediaVideo" class="form-label">Añadir un video: </label>
                                    <input asp-for="MediaVideo" class="form-control" type="url" />
                                    <span asp-validation-for="MediaVideo" class="text-danger"></span>
                                </div>
                                <div class="form-outline w-100 mb-3">
                                    <label asp-for="File" class="form-label">Seleccione una imagen:</label>
                                    <input asp-for="File" class="form-control" />
                                </div>
                                <div class="modal-footer">
                                    <div class="messageSender__bottom">
                                        <div class="messageSender__option photos">
                                            <span style="color: green; margin-left:5px; margin-right:-5px;" class="material-icons"> photo_library </span>
                                            <h3>Photo</h3>
                                        </div>
                                        <a title="Publish" class="no-decoration" id="submitForm">
                                            <div class="messageSender__option">
                                                <span style="color: green; margin-left:5px; margin-right:-5px;" class="material-icons"> send</span>
                                                <h3>Post</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- message sender -->
            <!-- posts -->
            @if (posts.Count == 0)
            {
                <div class="post">
                    <div class="post__bottom text-center">
                        <h3 class="text-decoration-underline">Hey @User.Name, you haven't made any posts yet.</h3>
                        <p class="fs-4">@DateTime.Now</p>
                    </div>
                </div>
            }
            else
            {
                <div class="post">
                    <div class="post__bottom text-center">
                        <h3>Hey @User.Name, here are all of your posts in Birdtter.</h3>
                        <p>Shared publicly - @DateTime.Now</p>
                    </div>
                </div>

                @foreach (PostViewModel post in posts)
                {
                    <section class="postCard">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <div class="d-flex flex-start align-items-center">
                                        <div class="align-items-start">
                                            <img class="rounded-circle shadow-1-strong me-3" src="@post.UserProfilePicture" alt="avatar" width="60" height="60" />
                                        </div>

                                        <div>
                                            <h6 class="fw-bold text-primary mb-1">
                                                @post.UserName @post.UserLastName
                                            </h6>
                                            <p class="text-muted small mb-0">
                                                Shared publicly - @if(@post.CreatedAt != null) { @post.CreatedAt }else{ @post.UpdatedAt }
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end align-items-end" style="margin-top:-40px;">
                                        <div class="btn-group">
                                            <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" title="Delete post" class="btn btn-sm btn-outline-danger">Delete</a>
                                            <a asp-controller="Post" asp-action="EditPost" asp-route-id="@post.Id" title="Edit post" class="btn btn-sm btn-outline-warning">Edit</a>
                                        </div>
                                    </div>
                                </div>
                                <p class="mt-3 mb-4 fs-3">
                                    @post.Content
                                </p>

                                @if (post.ImageUrl != null)
                                {
                                    <div class="mb-3">
                                        <img class="img-fluid rounded-3 mb-2" style="margin-top:-15px;" src="@post.ImageUrl" alt="image" />
                                    </div>
                                }
                                @if (post.MediaVideo != null)
                                {
                                    <div class="mb-3">
                                        <iframe width="100%" height="750" src="@post.MediaVideo" title="video" frameborder="0" allowfullscreen></iframe>
                                    </div>

                                }

                                <div class="small d-flex justify-content-start">
                                    @*<a href="#!" class="d-flex align-items-center me-3">
                            <i class="far fa-thumbs-up me-2"></i>
                            <span class="material-icons"> thumb_up</span>
                            </a>
                            <a href="#!" class="d-flex align-items-center me-3">
                            <i class="fas fa-share me-2"></i>
                            <span class="material-icons"> near_me </span>
                            </a>*@
                                    <a href="#!" class="toggleCommentSection" title="View Comments">
                                        <i class="far fa-comment-dots me-2"></i>
                                        <span class="material-icons"> chat_bubble_outline</span>
                                    </a>
                                    <a asp-controller="Comment" asp-action="AddComment" asp-route-id="@post.Id" title="Add comment">
                                        <i class="fas fa-share me-2"></i>
                                        <span class="material-icons"> add_comment </span>
                                    </a>

                                </div>
                            </div>
                            <div class="commentSection">
                                <div class="card-footer py-3 border-0 " style="background-color: #f8f9fa;">
                                    @if (post.Comments.Count != 0 && post.Comments != null)
                                    {
                                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa; margin-top:-20px;">
                                            @foreach (CommentViewModel comment in post.Comments)
                                            {
                                                <div class="d-flex flex-start align-items-center mt-3">
                                                    <img class="rounded-circle shadow-1-strong me-3"
                                                         src="@comment.UserProfilePicture" alt="avatar" width="40"
                                                         height="40" />
                                                    <div>
                                                        <h6 class="fw-bold text-primary mb-1">
                                                            @comment.UserName @comment.UserLastName
                                                        </h6>
                                                        <p class="text-muted small mb-0">
                                                            @comment.Content
                                                        </p>
                                                        <div class="align-content-end">
                                                            <a asp-controller="ReplyComment" asp-action="AddReply" asp-route-commentId="@comment.Id" asp-route-postId="@post.Id" title="Add reply">
                                                                <i class="fas text-muted fa-share me-2">- Add reply</i>
                                                            </a>
                                                        </div>
                                                        <div class="align-content-end">
                                                            <a href="#" class="toggleReplies" data-comment-id="@comment.Id">
                                                                <i class="fas text-muted fa-share me-2">- Show Replies</i>
                                                            </a>
                                                        </div>
                                                        <div class="replies-container" data-comment-id="@comment.Id"></div>
                                                    </div>

                                                </div>
                                            }
                                        </div>
                                    }

                                    @if (post.Comments.Count == 0)
                                    {
                                        <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                                            <p class="text-muted small mb-4 text-center">
                                                No hay comentarios
                                            </p>
                                        </div>
                                    }


                                </div>

                            </div>

                        </div>
                    </section>
                }
            }

            <!-- post ends -->
        </div>
        <!-- feed ends -->

    </div>
    <!-- main body ends -->

    <div id="fb-root"></div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#submitForm').click(function () {
            $('#postForm').submit();
        });
    });

    $(document).ready(function () {
        $(document).on('click', '.toggleReplies', function (e) {
            e.preventDefault();
            var commentId = $(this).data('comment-id');
            var repliesContainer = $(this).closest('.d-flex').find('.replies-container');

            var isOpen = repliesContainer.hasClass('open');

            if (isOpen) {
                repliesContainer.removeClass('open').slideUp();
            } else {
                $.ajax({
                    url: '/ReplyComment/GetReplies', 
                    type: 'GET',
                    data: { commentId: commentId },
                    success: function (response) {
                        repliesContainer.html('');
                        $.each(response, function (index, reply) {
                            var replyHtml = `
                                    <div class="d-flex flex-start align-items-center mt-3">
                                        <img class="rounded-circle shadow-1-strong me-3" src="${reply.userProfilePicture}" alt="avatar" width="40" height="40" />
                                        <div>
                                            <h6 class="fw-bold text-primary mb-1">from ${reply.userName} ${reply.userLastName}</h6>
                                            <p class="text-muted small mb-0">${reply.content}</p>
                                        </div>
                                    </div>
                                `;
                            repliesContainer.append(replyHtml);
                        });

                        repliesContainer.addClass('open').slideDown();
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    });

</script>

<script>

    $(document).ready(function () {
        $('#MediaVideo').change(function () {
            if ($(this).val()) {
                $('#File').prop('disabled', true);
            } else {
                $('#File').prop('disabled', false);
            }
        });

        $('#File').change(function () {
            if ($(this).val()) {
                $('#MediaVideo').prop('disabled', true);
            } else {
                $('#MediaVideo').prop('disabled', false);
            }
        });

    });

    $(document).ready(function () {
        $('.commentSection').hide();

        $('.toggleCommentSection').click(function (e) {
            e.preventDefault();
            $(this).closest('.card').find('.commentSection').slideToggle();
        });

    });

    $('#File').change(function () {

        if ($(this).val()) {
            $('#MediaVideo').prop('disabled', true);
        } else {
            $('#MediaVideo').prop('disabled', false);
        }
    });

    $('.messageSender__option.photos').click(function () {
        $('#File').click();
    });

    $(document).ready(function () {
        if ($('#validationSummary').length) {
            setTimeout(function () {
                $('#validationSummary').fadeOut('slow');
            }, 5000);
        }
    });

    $(document).ready(function () {
        $('#postModal').on('shown.bs.modal', function () {
            $.get('/Post/AddPost', function (data) {
            });
        });

        $('#submitFormModal').click(function () {
            $.ajax({
                url: '/Post/AddPost',
                type: 'POST',
                data: $('#postForm').serialize(),
                success: function (response) {
                    console.log(response);
                    $('#postModal').modal('hide'); 
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });

</script>


